@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Odd Jobs On Demand is a netwrok connecting businesses with customers fast, free and easy! Just like your mom!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Browse Contractors in your area or sign up and post a job so contractors can reach out to you!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Find Contractors with 5 star ratings</h2>
        <p>Schedule a time and date to get get your job accomplished.</p>
    </div>
    <div class="col-md-4">
        <h2>Pay online</h2>
        <p>You can use our built in payment system to make paying your contractor fast and easy. Like your mother....again.</p>
    </div>
</div>